<% if notice %>
<p class="alert alert-success"><%= notice %></p>
<% end %>

<div class="row justify-content-end" style="margin-bottom: 8px;">
  <%= link_to 'New Tweet', new_tweet_path, class: 'btn btn-primary' %>
</div>

<% @tweets.each do |tweet| %>
  <div class="row card" style="margin-bottom: 2px">
    <div class="card-body">
      <pre class="card-text"><%= tweet.message %></pre>
      <p class="text-muted"><small><%= tweet.created_at.to_formatted_s(:long) %></small></p>
      <%= link_to 'Delete', tweet, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>
